.Button {
    background-color: #B94700;
    color: #fff;
    font-size: 0.9rem;
    align-self: center;
    border-radius: 100px;
    border-color: transparent;
    padding: 5px 10px;
    min-width: 75px;
  }

.CancelBtn {
    background-color: #5A5A5A;
    color: #fff;
    font-size: 0.9rem;
    align-self: center;
    border-radius: 100px;
    border-color: transparent;
    padding: 5px 10px;
    min-width: 75px;
  }

.Button:hover, .CancelBtn:hover {
    background-color: #DCBBB6 !important;
    border-color: transparent;
    color: black;
  }