.SmallSecondaryNav {
  display: none !important;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

/* Styles for screens smaller than or equal to 768px */
  
@media screen and (width <= 768px) {

  .SmallSecondaryNav {
    display: block !important;
  }
      
  .SmallSecondaryNav p {
    font-size: 0.7rem;
    margin: 0;
  }

}