.App {
  font-family: "PT Sans", sans-serif;
  min-height: 100vh;
  background-color: #DCC9B6;
}

.Main {
  padding-top: 81px;
  width: calc(100vw - 20px);
  max-width: 1000px;
}

.Content {
  position: relative;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 4px;
}

* {
  box-sizing: border-box;
}

a {
  color: black !important;
}

a:hover {
  text-decoration: none;
}

a:hover i {
  color: #DCBBB6;
  transition: color ease-in-out 0.2s;
}

i {
  padding: 10px;
  vertical-align: middle;
  color: #5A5A5A;
}

i:hover {
  cursor: pointer;
  transition: color ease-in-out 0.2s;
}

input[type="file"] {
  display: none;
}

.Image {
  max-height: 40vh;
  max-width: 100%;
  object-fit: contain;
}

.FixedContainer {
  position: sticky;
  top: 89px;
  width: auto;
}

.CardTop {
  background-color: #DDDCCC;
  box-shadow:  1px 1px 5px #5A5A5A;
  padding: 10px 10px 0px 10px;
}

.InfoText{
  color: #B94700;
  letter-spacing: 1px;
  margin-left: 5px;
  margin-right: 5px;
}

/* Styles for screens smaller than or equal to 768px */

@media screen and (width <= 768px) {

  .Main {
    margin-bottom: 77px;
    padding-bottom: 5px;
  }
  
  .FixedContainer {
    display: none;
  }

  .ContentColumn {
    max-width: 100%;
    flex: auto;
  }

}

/* Styles for screens of height smaller than 360px */
  
@media screen and (height < 360px) {
  
  .FixedContainer {
    top: 50px;
  }

}
